/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; color:#fff; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: normal; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #008fff; color:#fff; text-shadow: none; }
::selection { background:#008fff; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #008fff; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: 
 */
*{
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
body{
	font-family: 'MetaProBook';
	background: #3a424a url('/images/bg_gradient.png') repeat-x top left;
}
#container{
  position:relative;
}
#glow{
  background:transparent url(/images/glow.png) top left no-repeat;
  width:600px;
  z-index:-10;
  height:273px;
  position:absolute;
  left:-240px;
  opacity:0.6;
}
#logo{
  height:49px;
  width:166px;
  display:block;
  text-indent:-9999px;
  background: transparent url('/images/logo.png') no-repeat top left;
}

header{
	font-family: 'MetaProMedium';
	margin-top:75px;
}
header h1,
#team h1,
#contact h1{
  margin-top:0.2em;
  font-size:29px;
  text-shadow:0px -1px 1px rgba(0,0,0,0.9);

}
header h1 em,
#team h3,
#contact h3{
  color:#008fff;
  font-style:normal;

/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#f60)), transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
*/
  text-shadow:0px -1px 1px rgba(0,0,0,0.9), 0px 1px 0px rgba(255,255,255,0.3);
}

header .description,
#team .description{
  color:#fff;
	font-family: 'MetaProBook';
  margin-top:0.5em;
  text-shadow:0px 1px 1px rgba(0,0,0,1);
  font-size:17px;
}


#features{
  background:#283038 url(/images/panel_gradient.png) repeat-x top left;
  padding:20px 0;
  list-style:none;
  margin-left:0;
  margin-top:40px;
  margin-bottom:30px;
  min-height: 45px;
  border:1px solid rgba(252,252,252,0.11);
  
     -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4 */
          border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
          
     -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.9), 0 -1px 0px rgba(255,255,255,0.5), 0 0 1px rgba(0,0,0,0.9); 
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.9), 0 -1px 0px rgba(255,255,255,0.5), 0 0 1px rgba(0,0,0,0.9); 
          box-shadow: 0px 1px 3px rgba(0,0,0,0.9), 0 -1px 0px rgba(255,255,255,0.5), 0 0 1px rgba(0,0,0,0.9); 
 
}
.feature{
  font-size:14px;
  min-height: 410px;
	font-family: 'MetaProBook';
}
.feature .loud{
	font-family: 'MetaProBook';
  color:#FFF;
  font-size:24px;
  text-shadow:0px -1px 1px rgba(0,0,0,0.9), 0px 1px 1px rgba(255,255,255,0.3);
}
.feature .screenshot{
  margin-top:25px; 
  margin-bottom:25px; 
}
.feature.colborder{
  border-right: 1px solid #4b5158;
}
.feature.publish .screenshot{
  margin-left: -28px;
/*  margin-left: -68px;*/
}
.feature h4{
  color:#557086;
  text-shadow:0px -1px 0px rgba(0,0,0,0.9);
}
.feature .description{
	font-family: 'MetaProBook';
	margin-top:15px;
  color:#fff;
}

#team h3,
#contact h3{
  font-size:24px;
}

#contact .btn{
  background:transparent url(/images/btns.png) top left no-repeat;
  font-family: 'MetaProMedium';
  padding:10px 0;
  text-decoration:none;
	width:258px;
  height:28px;
  margin-top:15px;
  display:block;
  font-size:23px;
  padding-left:53px;
  text-shadow:0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.6);
  -webkit-transition: -webkit-box-shadow, -webkit-transform 0.25s ease-out;
  -moz-transition: -moz-box-shadow, -moz-transform 0.25s ease-out;
}
#contact .btn:hover{
  -moz-transform: scale(1.1);
}
#contact .btn.twitter{
  background-position: 0 -198px;
  color:#335567;
}
#contact .btn.twitter:hover{
  background-position: 0 -297px;
}
#contact .btn.mail{
  background-position: 0 0;
  color:#0c4208;
}
#contact .btn.mail:hover{
  background-position: 0 -99px;
}

#container footer{
	font-family: 'MetaHeadlineOTBold';
	margin-top:35px;
}
#main{
	font-family: 'MetaProBook';
}


.postcard{
  border:5px solid white;
     -moz-box-shadow: 0px 2px 3px #000; 
  -webkit-box-shadow: 0px 2px 3px #000; 
          box-shadow: 0px 2px 3px #000; 
}

#team .postcard{
  margin-left:10px;
  margin-top:15px;
     -moz-box-shadow: 0px 2px 5px #000; 
  -webkit-box-shadow: 0px 2px 5px #000; 
          box-shadow: 0px 2px 5px #000; 
  -webkit-transform: rotate(-2deg) scale(1);
  -webkit-transition: -webkit-box-shadow, -webkit-transform 0.2s;
  -moz-transform: rotate(-2deg) scale(1);
  -moz-transition: -moz-box-shadow, -moz-transform 0.2s;
}

#team .postcard:hover{
  -webkit-box-shadow: 0px 4px 10px #000; 
  -webkit-transform:rotate(0deg) scale(1.1);
}


.sprite-mail_off{ background-position: 0 0; width: 258px; height: 49px; } 
.sprite-mail_on{ background-position: 0 -99px; width: 258px; height: 49px; } 
.sprite-twitter_off{ background-position: 0 -198px; width: 258px; height: 49px; } 
.sprite-twitter_on{ background-position: 0 -297px; width: 258px; height: 49px; } 









@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

