@import 'compass/css3';

$logos-spacing: 30px !default;
$logos-layout:smart;

@import 'logos/*.png';


$text : #4f4f4f;
$orange: #f55405;
$ice: #adb8c0;
$light_ice:#d6dbdf;
body{
  color:$text;
  font-size:14px;
  font-family:'AvenirLTStd55Roman';
  text-rendering:optimizelegibility;
  -webkit-font-smoothing:antialiased;
}

h2{
  font-weight:normal;
  font-size:14px;
}

h1{
  font-family:'Archer-Bold';
  font-size:18px;
  em{
    font-style:normal;
  }
}


.navbar{
  background:white;
  @include box-shadow(0px 0px 10px rgba(255,255,255,0.8));
  padding-top:35px;
  .container{

  }
  .brand{
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    @include logos-sprite(oahu);
    $height: logos-sprite-height(oahu);
    $width : logos-sprite-width(oahu);
    text-indent:-999px;
    height:$height;
    width:$width;
    width:54px;
    height:16px;
  }
  .navbar-inner{
    background:transparent;
    @include box-shadow(none);
  }
  .nav{
    float: right;
    li{
      a{
        color:$ice;
        font-size:16px;
        @include text-shadow(none);
        &:hover{
          color:$orange;
          cursor:pointer;
        }
        &.contact{
          color:$text;
        }
      }
    }
  }
} 

.hero-unit{
  background:transparent;
  padding:95px 0 15px 0;

  em{
    color:$orange;
  }
  h1{
    font-size:36px;
    color:$ice;
    margin-bottom:10px;
  }
  h2{
    font-family:'AvenirLTStd95Black';
    font-size:20px;
    text-transform:uppercase;
    line-height:24px;
  }
}

.page-header{
  border-bottom:none;
  h1{
    color:$ice;
    font-size:24px;
    font-weight:normal;
    font-family:'AvenirLTStd55Roman';
  }
}

.row{
  margin-bottom:3em;
  color:lighten($text, 15%);
  font-size:14px;
  h2{
    color:$text;
    line-height:17px;
    margin-bottom:0.3em;
    font-weight:normal;
    font-family:'AvenirLTStd85Heavy';
    text-transform:uppercase;
  }
  .contact, .jobs{
    margin-top:20px;
    a{
      width: 100%;
      box-sizing: border-box;
      background:transparent;
      @include box-shadow(none);
      color:$ice;
      border:1px solid $light_ice;
    }
  }
}

#product{
  background:image-url('separator.png') top center no-repeat;
  padding-top:35px;
  .row{
    font-size:14px;
    h2{
    }
  }
}

ul.clients{
  margin-left:0;
  li{
    display:block;
    float:left;
  }
  .pathe{
    @include logos-sprite(pathe);
    text-indent:-999px;
    $height: logos-sprite-height(pathe);
    $width : logos-sprite-width(pathe);
    height:$height;
    width:$width;
    width: 160px;
    height:80px;
  }
  .universal{
    @include logos-sprite(universal);
    text-indent:-999px;
    $height: logos-sprite-height(universal);
    $width : logos-sprite-width(universal);
    height:$height;
    width:$width;
    width: 160px;
    height:115px;
  }
  .orange{
    @include logos-sprite(orange);
    text-indent:-999px;
    $height: logos-sprite-height(orange);
    $width : logos-sprite-width(orange);
    height:$height;
    width:$width;
    width: 160px;
    height:90px;
  }
}
