@import 'fonts';
@import 'compass/css3';

$logos-spacing: 30px !default;
$logos-layout:smart;

@import 'logos/*.png';


$text : #4f4f4f;
$orange: #f55405;
$ice: #adb8c0;
$light_ice:#d6dbdf;
body, p{
  color:lighten($text, 15%);
  font-size:14px;
  font-family:'AvenirLTStd55Roman';
  text-rendering:optimizelegibility;
  -webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  color:$text;
}
h2{
  font-weight:normal;
  font-size:14px;
}

h1{
  font-family:'Archer-Bold';
  font-size:18px;
  em{
    font-style:normal;
  }
  small{
    font-size:14px;
    color:lighten($ice, 10%);
  }
}

h4{
  font-family:'Archer-Bold';
}

.navbar{
  background:white;
  @include box-shadow(0px 0px 10px rgba(255,255,255,0.8));
  padding-top:35px;
  .container{

  }
  .brand{
    float: left;
    margin-left: 10px;
    margin-top:10px;
    @include logos-sprite(oahu);
    $height: logos-sprite-height(oahu);
    $width : logos-sprite-width(oahu);
    text-indent:-999px;
    height:$height;
    width:$width;
    width:54px;
    height:16px;
  }
  .navbar-inner{
    background:transparent;
    @include box-shadow(none);
  }
  .nav{
    li{
      a{
        color:$ice;
        font-size:16px;
        font-weight:normal;
        @include text-shadow(none);
        &:hover{
          color:$orange;
          cursor:pointer;
        }
        &.contact{
          color:$text;
        }
      }
    }
  }
  li.dropdown, li.logged_out{
    a{
      font-size:12px;
    }
    &.open .dropdown-toggle{
      color:$ice;
    }
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu .active > a,
  .dropdown-menu .active > a:hover{
    background:$ice;
    color:white;
  }
} 

.hero-unit{
  background:transparent;
  padding:125px 0 15px 0;
  em{
    color:$orange;
  }
  h1{
    font-size:36px;
    color:$ice;
    margin-bottom:10px;
  }
  h2{
    font-family:'AvenirLTStd95Black';
    font-size:20px;
    text-transform:uppercase;
    line-height:24px;
  }
  h1, h2, h3{
    margin-bottom:10px;
  }

   // Landscape phones and down
  @media (max-width: 480px) {
    padding:0;
  }
 
  // Landscape phone to portrait tablet
  @media (max-width: 768px) {
      padding:0;
      font-size:0.7em;
      h1{
      }
      h2{
        font-size:18px;
      }
  }
 
  // Portrait tablet to landscape and desktop
  @media (min-width: 768px) and (max-width: 980px) {
      padding:0;
  }
 
  // Large desktop
  @media (min-width: 1200px) {  }


}

.page-header{
  border-bottom:none;
  h1{
    color:$ice;
    font-size:24px;
    font-weight:normal;
    font-family:'AvenirLTStd55Roman';
  }
}

.row{
  color:lighten($text, 15%);
  h2{
    color:$text;
    line-height:17px;
    margin-bottom:0.3em;
    font-weight:normal;
    font-family:'AvenirLTStd85Heavy';
    text-transform:uppercase;
  }
  a.btn{
    margin-top:20px;
    width: 100%;
    box-sizing: border-box;
  }
  .span4, .span3{
      margin-bottom:3em;
  }
}

a.btn{
  background:transparent;
  @include box-shadow(none);
  font-family:'AvenirLTStd55Roman';
  color:darken($ice, 20%);
  // border:1px solid $light_ice;
  border:none;
  background:lighten($ice,25%);
  @include box-shadow(0 0 3px transparentize($ice,0.1) inset);  
  padding:10px;
  display:block;
}

#product{
  background:image-url('separator.png') top center no-repeat;
  padding-top:35px;
  .row{
    font-size:14px;
    h2{
    }
  }
}

section{
}


#clients{
  li{
    display:block;
    float:left;
  }
  p{
    float:left;
  }
  .pathe{
    @include logos-sprite(pathe);
    text-indent:-999px;
    $height: logos-sprite-height(pathe);
    $width : logos-sprite-width(pathe);
    height:$height;
    width:$width;
    width: 100px;
    height:80px;
  }
  .universal{
    @include logos-sprite(universal);
    text-indent:-999px;
    $height: logos-sprite-height(universal);
    $width : logos-sprite-width(universal);
    height:$height;
    width:$width;
    width: 100px;
    height:80px;
  }
  .orange{
    @include logos-sprite(orange);
    text-indent:-999px;
    $height: logos-sprite-height(orange);
    $width : logos-sprite-width(orange);
    height:$height;
    width:$width;
    width: 100px;
    height:80px;
  }
}

#jobs{
  ul{
    margin-left:0;
  }
}
.logged_in{
  display:none;
}

.activity{
  max-height:300px;
  overflow:auto;
}

.carousel{
  background-color:lighten(white, 25%);
  margin-bottom:0;
  .carousel-control{
    opacity:0;
    @include transition(opacity 0.5s)
  }
  .item{
    height:420px;
    overflow:hidden;
    h2{
      font-size:18px;
      font-family:'AvenirLTStd55Roman';
    }
    img{
      display:block;
      margin:0 auto;
      @include box-shadow(0 0 5px transparentize($ice, 0.2));
    }
  }
  img{
    float:left;
    max-width:100%;
  }
  &:hover{
    .carousel-control{
      opacity:0.5;
    }
  }
}
