/**
* HTML5 ✰ Boilerplate based stylesheet…
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
body {
  font: 13px/1.231 sans-serif; *font-size:small;
}
/* Hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif;
}
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover, a:active {
  outline: none;
}
ul, ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}
button, input, select, textarea {
  margin: 0;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
::-moz-selection {
  background: #8A8FA4;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #8A8FA4;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #8A8FA4;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body, select, input, textarea {
  color: #444;
  font: normal 18px/32px "Helvetica Neue", "Helvetica",Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
a, a:active, a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}

 /* Primary Styles
    Author: Oahu Team
 */

 body{
   text-rendering: optimizelegibility;
   -webkit-font-smoothing: antialiased;
   /*background: #3a424a url('/images/bg_gradient.png') repeat-x top left;*/
   color: #444;
   font: normal 18px/24px "Helvetica Neue", "Helvetica",Arial, sans-serif;
   background: url(/images/bg.jpg) top left repeat fixed;
   text-shadow: 0 1px 0 rgba(255,255,255,0.7);
 }


 #container{
   position:relative;
 }

 footer{
 	margin-top:35px;
 }

 #logo{
   height:35px;
   width:120px;
   display:block;
   text-indent:-9999px;
   background: transparent url('/images/logo_blue.png') no-repeat top left;
 }

/*
 #glow{
   background:transparent url(/images/glow.png) top left no-repeat;
   width:600px;
   z-index:-10;
   height:273px;
   position:absolute;
   left:-240px;
   opacity:0.6;
 }
*/
 
 h1,h2,h3,h4,h5,h5{
   color: #303741;
   /*font: bold 36px/40px Helvetica Neue, serif;*/
   text-align: left;
   font-weight:bold;
 }
 h1{
   font-size:36px;
   line-height:48px;
 }
 h2{
   font-size:24px;
   line-height:36px;
 }
 h3{
   font-size:18px;
   line-height:24px;
 }
 h4{
   font-size:14px;
   line-height:18px;
 }
 h5{
   font-size:12px;
   line-height:14px;
 }
 
 
 /* Typography*/
 em, h3, h4, .loud, #home h2{
   color:#008fff;
 }
 em{
   text-shadow:0px -1px 0px rgba(0,0,0,0.6), 0px 1px 0px rgba(255,255,255,0.7);
 }
 header .description{
   color:#607890;
 }
 header .description em {
    color:#303741;
 }
 /*Colors*/
 .loud{
   color:#454856;
 }
 
 
/* Home Overrides*/
 #home{
   font-family: 'MetaProBook';
 }
 #home #main{
 	font-family: 'MetaProBook';
 }
 #home header{
 	font-family: 'MetaProMedium';
 	margin-top:75px;
 }
 #home footer{
   	font-family: 'MetaHeadlineOTBold';
 }
 #home h1, #home h2, #home h3, #home h4, #home h5, #home h6{
   font-weight:normal;
   font-family:"MetaProBold";
 }
 #home .description{
   font-family: 'MetaProBook';
   margin-top:0.5em;
 }
 #home .description em{
   text-shadow: 0 1px 0 rgba(255,255,255,0.7);
 }

 #features{
   padding:20px 0;
   list-style:none;
   margin-left:0;
   margin-top:40px;
   margin-bottom:30px;
   min-height: 45px;
   background:#AFB8BF url(/images/header_bg.jpg) repeat-x top left;
   border:1px solid rgba(252,252,252,0.15);

      -moz-border-radius: 4px; /* FF1+ */
   -webkit-border-radius: 4px; /* Saf3-4 */
           border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */

      -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0 -1px 0px rgba(255,255,255,0.1), 0 0 1px rgba(0,0,0,0.4); 
   -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0 -1px 0px rgba(255,255,255,0.1), 0 0 1px rgba(0,0,0,0.4); 
           box-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0 -1px 0px rgba(255,255,255,0.1), 0 0 1px rgba(0,0,0,0.4); 
           
           background: #d8dde1; /* Old browsers */
           background: -moz-linear-gradient(top, #d8dde1 0%, #b9c0c6 100%); /* FF3.6+ */
           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8dde1), color-stop(100%,#b9c0c6)); /* Chrome,Safari4+ */
           background: -webkit-linear-gradient(top, #d8dde1 0%, #b9c0c6 100%); /* Chrome10+,Safari5.1+ */
           background: -o-linear-gradient(top, #d8dde1 0%,#b9c0c6 100%); /* Opera11.10+ */
           background: -ms-linear-gradient(top, #d8dde1 0%,#b9c0c6 100%); /* IE10+ */
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8dde1', endColorstr='#b9c0c6',GradientType=0 ); /* IE6-9 */
           background: linear-gradient(top, #d8dde1 0%,#b9c0c6 100%); /* W3C */

 }

 .feature{
   font-size:14px;
   min-height: 410px;
 }
 .feature .screenshot{
   margin-top:25px; 
   margin-bottom:25px; 
 }
 .feature.colborder{
   border-right: 1px solid #A1AAB1;
 }
 .feature.publish .screenshot{
   margin-left: -28px;
 }


 #contact .btn{
   background:transparent url(/images/btns.png) top left no-repeat;
   font-family: 'MetaProMedium';
   padding:10px 0;
   text-decoration:none;
   width:258px;
   height:29px;
   margin-top:15px;
   display:block;
   font-size:23px;
   padding-left:53px;
   text-shadow:0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.6);
   -webkit-transition: -webkit-box-shadow, -webkit-transform 0.25s ease-out;
   -moz-transition: -moz-box-shadow, -moz-transform 0.25s ease-out;
 }
 #contact .btn:hover{
   -moz-transform: scale(1.1);
 }
 #contact .btn.twitter{
   background-position: 0 -198px;
   color:#335567;
 }
 #contact .btn.twitter:hover{
   background-position: 0 -297px;
 }
 #contact .btn.mail{
   background-position: 0 0;
   color:#0c4208;
 }
 #contact .btn.mail:hover{
   background-position: 0 -99px;
 }

 .postcard{
   border:5px solid white;
      -moz-box-shadow: 0px 2px 3px #000; 
   -webkit-box-shadow: 0px 2px 3px #000; 
           box-shadow: 0px 2px 3px #000; 
 }

 #team .postcard{
   margin-left:10px;
   margin-top:15px;
      -moz-box-shadow: 0px 2px 5px #000; 
   -webkit-box-shadow: 0px 2px 5px #000; 
           box-shadow: 0px 2px 5px #000; 
   -webkit-transform: rotate(-2deg) scale(1);
   -webkit-transition: -webkit-box-shadow, -webkit-transform 0.2s;
   -moz-transform: rotate(-2deg) scale(1);
   -moz-transition: -moz-box-shadow, -moz-transform 0.2s;
 }

 #team .postcard:hover{
   -webkit-box-shadow: 0px 4px 10px #000; 
   -webkit-transform:rotate(0deg) scale(1.1);
 }


 .twitter_link,
 .twitter_link:visited{
   color:#fff;
 }

 .twitter_link:active,
 .twitter_link:hover{
   color:#008fff;
 }


 
  section{
    font-size:16px;
    margin-bottom:30px;
  }

  #jobs #container{
    width:100%;
    background: transparent url(/images/header_bg.jpg) top left repeat-x fixed;
  }
  #jobs header section, #jobs #main{
    width: 640px;
    margin: 0 auto;
  }
  #jobs header section {
    font: normal 18px/32px "Helvetica Neue", "Helvetica",Arial, sans-serif;
    padding-top: 100px;
  }
  
  
  header h1#title {
    background: transparent url(/images/navbar_bg.png) top left repeat-x;
    height: 72px;
    margin: 0 0 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -moz-box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
  }
  header h1#title span {
    background: transparent url(/images/logo_blue.png) center center no-repeat;
    width: 118px;
    height: 34px;
    margin: 19px auto;
  }
  #jobs h1,#jobs h2 {
    color: #303741;
    font: bold 36px/40px Helvetica Neue, serif;
    text-align: left;
    margin: 30px 0 20px 0;
  }
  #jobs h2 {
    font-size: 34px;
  }
  header strong {
    margin: 20px 0;
    display: block;
  }
  
  #jobs #main li,
  #jobs #main p {
    margin: 15px auto;
  }
  #jobs #main ul {
    margin: 0;
  }
  #jobs #main li {
    margin: 10px 0;
    list-style-type: none;
  }
  #jobs  #main .show {
  }
  #jobs  #main .show li {
    padding-left: 5px;
    list-style: none outside url(/images/star.png);
  }
  
  
  /*
    End Oahu Styles
  */

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}
@media screen and (max-device-width: 480px) {
/* html {
-webkit-text-size-adjust: none;
-ms-text-size-adjust: none;
}
*/
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }

}
