@font-face {
  font-family: 'Archer-Bold';
  src: url("/assets/fonts/archer-bold-pro.eot");
  src: url("/assets/fonts/archer-bold-pro.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/archer-bold-pro.woff") format("woff"), url("/assets/fonts/archer-bold-pro.ttf") format("truetype"), url("/assets/fonts/archer-bold-pro.svg#archer-bold-pro") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd85Heavy';
  src: url("/assets/fonts/avenirltstd-heavy-webfont.eot");
  src: url("/assets/fonts/avenirltstd-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-heavy-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-heavy-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-heavy-webfont.svg#AvenirLTStd85Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd95Black';
  src: url("/assets/fonts/avenirltstd-black-webfont.eot");
  src: url("/assets/fonts/avenirltstd-black-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-black-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-black-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-black-webfont.svg#AvenirLTStd95Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd65Medium';
  src: url("/assets/fonts/avenirltstd-medium-webfont.eot");
  src: url("/assets/fonts/avenirltstd-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-medium-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-medium-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-medium-webfont.svg#AvenirLTStd65Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd55Roman';
  src: url("/assets/fonts/avenirltstd-roman-webfont.eot");
  src: url("/assets/fonts/avenirltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-roman-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-roman-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-roman-webfont.svg#AvenirLTStd55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd35Light';
  src: url("/assets/fonts/avenirltstd-light-webfont.eot");
  src: url("/assets/fonts/avenirltstd-light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-light-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-light-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-light-webfont.svg#AvenirLTStd35Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
