.logos-sprite, .navbar .brand, ul.clients .pathe, ul.clients .universal, ul.clients .orange {
  background: url('../img/logos-s906c5f7c53.png') no-repeat;
}

body {
  color: #4f4f4f;
  font-size: 14px;
  font-family: 'AvenirLTStd55Roman';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h1 {
  font-family: 'Archer-Bold';
  font-size: 18px;
}
h1 em {
  font-style: normal;
}

.navbar {
  background: white;
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  -o-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  padding-top: 35px;
}
.navbar .brand {
  float: left;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-position: 0 0;
  text-indent: -999px;
  height: logos-sprite-height(oahu);
  width: logos-sprite-width(oahu);
  width: 54px;
  height: 16px;
}
.navbar .navbar-inner {
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.navbar .nav li a {
  color: #adb8c0;
  font-size: 16px;
  text-shadow: none;
}
.navbar .nav li a:hover {
  color: #f55405;
  cursor: pointer;
}
.navbar .nav li a.contact {
  color: #4f4f4f;
}
.navbar li.dropdown a, .navbar li.logged_out a {
  font-size: 12px;
}
.navbar li.dropdown.open .dropdown-toggle, .navbar li.logged_out.open .dropdown-toggle {
  color: #adb8c0;
}
.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu .active > a,
.navbar .dropdown-menu .active > a:hover {
  background: #adb8c0;
  color: white;
}

.hero-unit {
  background: transparent;
  padding: 95px 0 15px 0;
}
.hero-unit em {
  color: #f55405;
}
.hero-unit h1 {
  font-size: 36px;
  color: #adb8c0;
  margin-bottom: 10px;
}
.hero-unit h2 {
  font-family: 'AvenirLTStd95Black';
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
}

.page-header {
  border-bottom: none;
}
.page-header h1 {
  color: #adb8c0;
  font-size: 24px;
  font-weight: normal;
  font-family: 'AvenirLTStd55Roman';
}

.row {
  margin-bottom: 3em;
  color: #757575;
  font-size: 14px;
}
.row h2 {
  color: #4f4f4f;
  line-height: 17px;
  margin-bottom: 0.3em;
  font-weight: normal;
  font-family: 'AvenirLTStd85Heavy';
  text-transform: uppercase;
}

a.btn {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-family: 'AvenirLTStd55Roman';
  color: #738694;
  border: 1px solid #d6dbdf;
}

#product .row {
  font-size: 14px;
}

section {
  background: url('../img/separator.png?1333464272') top center no-repeat;
  padding-top: 35px;
}

ul.clients {
  margin-left: 0;
}
ul.clients li {
  display: block;
  float: left;
}
ul.clients .pathe {
  background-position: 0 -150px;
  text-indent: -999px;
  height: logos-sprite-height(pathe);
  width: logos-sprite-width(pathe);
  width: 160px;
  height: 80px;
}
ul.clients .universal {
  background-position: 0 -243px;
  text-indent: -999px;
  height: logos-sprite-height(universal);
  width: logos-sprite-width(universal);
  width: 160px;
  height: 115px;
}
ul.clients .orange {
  background-position: 0 -46px;
  text-indent: -999px;
  height: logos-sprite-height(orange);
  width: logos-sprite-width(orange);
  width: 160px;
  height: 90px;
}

.logged_in {
  display: none;
}

.activity {
  max-height: 300px;
  overflow: auto;
}
