@font-face {
  font-family: 'Archer-Bold';
  src: url("/assets/fonts/archer-bold-pro.eot");
  src: url("/assets/fonts/archer-bold-pro.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/archer-bold-pro.woff") format("woff"), url("/assets/fonts/archer-bold-pro.ttf") format("truetype"), url("/assets/fonts/archer-bold-pro.svg#archer-bold-pro") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd85Heavy';
  src: url("/assets/fonts/avenirltstd-heavy-webfont.eot");
  src: url("/assets/fonts/avenirltstd-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-heavy-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-heavy-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-heavy-webfont.svg#AvenirLTStd85Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd95Black';
  src: url("/assets/fonts/avenirltstd-black-webfont.eot");
  src: url("/assets/fonts/avenirltstd-black-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-black-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-black-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-black-webfont.svg#AvenirLTStd95Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd65Medium';
  src: url("/assets/fonts/avenirltstd-medium-webfont.eot");
  src: url("/assets/fonts/avenirltstd-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-medium-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-medium-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-medium-webfont.svg#AvenirLTStd65Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd55Roman';
  src: url("/assets/fonts/avenirltstd-roman-webfont.eot");
  src: url("/assets/fonts/avenirltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-roman-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-roman-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-roman-webfont.svg#AvenirLTStd55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd35Light';
  src: url("/assets/fonts/avenirltstd-light-webfont.eot");
  src: url("/assets/fonts/avenirltstd-light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/avenirltstd-light-webfont.woff") format("woff"), url("/assets/fonts/avenirltstd-light-webfont.ttf") format("truetype"), url("/assets/fonts/avenirltstd-light-webfont.svg#AvenirLTStd35Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

.logos-sprite, .navbar .brand, #clients .pathe, #clients .universal, #clients .orange {
  background: url('../img/logos-s67b9c1f3d6.png') no-repeat;
}

body, p {
  color: #757575;
  font-size: 14px;
  font-family: 'AvenirLTStd55Roman';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #4f4f4f;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h1 {
  font-family: 'Archer-Bold';
  font-size: 18px;
}
h1 em {
  font-style: normal;
}
h1 small {
  font-size: 14px;
  color: #cad1d6;
}

h4 {
  font-family: 'Archer-Bold';
}

.navbar {
  background: white;
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  -o-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  padding-top: 35px;
}
.navbar .brand {
  float: left;
  margin-top: 10px;
  background-position: 0 0;
  text-indent: -999px;
  height: logos-sprite-height(oahu);
  width: logos-sprite-width(oahu);
  width: 54px;
  height: 16px;
}
.navbar .navbar-inner {
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.navbar .nav li a {
  color: #adb8c0;
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
}
.navbar .nav li a:hover {
  color: #f55405;
  cursor: pointer;
}
.navbar .nav li a.contact {
  color: #4f4f4f;
}
.navbar li.dropdown a, .navbar li.logged_out a {
  font-size: 12px;
}
.navbar li.dropdown.open .dropdown-toggle, .navbar li.logged_out.open .dropdown-toggle {
  color: #adb8c0;
}
.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu .active > a,
.navbar .dropdown-menu .active > a:hover {
  background: #adb8c0;
  color: white;
}

.hero-unit {
  background: transparent;
  padding: 125px 0 15px 0;
}
.hero-unit em {
  color: #f55405;
}
.hero-unit h1 {
  font-size: 36px;
  color: #adb8c0;
  margin-bottom: 10px;
}
.hero-unit h2 {
  font-family: 'AvenirLTStd95Black';
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
}
.hero-unit h1, .hero-unit h2, .hero-unit h3 {
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .hero-unit {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .hero-unit {
    padding: 0;
    font-size: 0.7em;
  }
  .hero-unit h2 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .hero-unit {
    padding: 0;
  }
}

.page-header {
  border-bottom: none;
}
.page-header h1 {
  color: #adb8c0;
  font-size: 24px;
  font-weight: normal;
  font-family: 'AvenirLTStd55Roman';
}

.row {
  color: #757575;
}
.row h2 {
  color: #4f4f4f;
  line-height: 17px;
  margin-bottom: 0.3em;
  font-weight: normal;
  font-family: 'AvenirLTStd85Heavy';
  text-transform: uppercase;
}
.row a.btn {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}
.row .span4, .row .span3 {
  margin-bottom: 3em;
}

a.btn {
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-family: 'AvenirLTStd55Roman';
  color: #738694;
  border: 1px solid #d6dbdf;
}

#product {
  background: url('../img/separator.png?1333464272') top center no-repeat;
  padding-top: 35px;
}
#product .row {
  font-size: 14px;
}

#clients li {
  display: block;
  float: left;
}
#clients p {
  float: left;
}
#clients .pathe {
  background-position: 0 -150px;
  text-indent: -999px;
  height: logos-sprite-height(pathe);
  width: logos-sprite-width(pathe);
  width: 100px;
  height: 80px;
}
#clients .universal {
  background-position: 0 -243px;
  text-indent: -999px;
  height: logos-sprite-height(universal);
  width: logos-sprite-width(universal);
  width: 100px;
  height: 80px;
}
#clients .orange {
  background-position: 0 -46px;
  text-indent: -999px;
  height: logos-sprite-height(orange);
  width: logos-sprite-width(orange);
  width: 100px;
  height: 80px;
}

#jobs ul {
  margin-left: 0;
}

.logged_in {
  display: none;
}

.activity {
  max-height: 300px;
  overflow: auto;
}

#carousel {
  background-color: white;
  margin-bottom: 0;
}
#carousel .carousel-control {
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#carousel .item {
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
#carousel .item img {
  display: block;
  margin: 0 auto;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#carousel img {
  max-width: 100%;
}
#carousel:hover .carousel-control {
  opacity: 0.5;
}
