- oahu_host = "app.oahu.fr"
!!!  
%html.no-js
  %head
    %meta{:charset=>"utf-8"}
    %meta{"http-equiv"=> "X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %title Oahu. social application platform | build social apps in minutes.
    %meta{:name=>"author", :content=>"Oahu"}
    %meta{:viewport=>"width=device-width, initial-scale=1.0"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %link{:rel=>"apple-touch-icon", :href=>"/apple-touch-icon.png"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

    %link{:rel => "stylesheet", :href=> "//#{oahu_host}/assets/oahu.css" }
    %link{:rel => "stylesheet", :href=> "//#{oahu_host}/assets/oahu-apps.css" }
    %link{:rel => "stylesheet", :href=> "/assets/vendor/bootstrap/bootstrap.min.css" }
    %link{:rel => "stylesheet", :href=> "/assets/vendor/bootstrap/bootstrap-responsive.min.css" }
    %link{:rel => "stylesheet", :href=> "/assets/css/style.css" }


    %script{:src=>"http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href=>"/"} oahu
          %a.btn.btn-navbar{'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse

            %ul.nav.pull-right
              %li
                %a{:href=>'#product'} Product
              %li
                %a{:href=>'#showcase'} Showcase
              %li
                %a{:href=>'#clients'} Clients
              %li
                %a{:href=>'#contact'} Contact
              %li
                %a{:href=>'#jobs'} Jobs
              %li
                %a.contact{:href=>'mailto:contact@oahu.fr'} contact@oahu.fr
    #page.container
      .hero-unit
        %h1
          Build social apps,
          %em in minutes.
        %h2
          Oahu is a social application platform that enables you to build richer,
          %br
          more engaging apps.
      %section#product
        .page-header
          %h1 Product
        .row
          .span3
            %h2 Optimized for speed.
            %h4 Spend less time setting up, and more creating value.
            %p Our suite of apps and libraries lets agencies, content producers and application developers create fully social applications in a fraction of the time, reduce time to market, ensure highly integrated social components, and optimize campaigns for engagement.

          .span3.offset1
            %h2 Ready when you are.
            %h4 Quick fire or long run, Oahu Scales with you.
            %p 
              Create quick posts, publish content and pre-built games, such as Quizzes and Instan wins, quickly,
              %br
              Publish branded pages with completely integrated content and activity widget,
              %br
              or build fully customized, highly advanced and integrated applications and campaigns.

          .span3.offset1
            %h2 Full service
            %p We handle all the media, games mechanics, and user generated contents that make your app richer and more compelling.
            %h4 Completely managed assets means your videos are encoded with the highest quality, your shares and tracking are correctly set up, and your deployment is quick and painless.

        .row
          .span3
            %h2 Rich & Realtime
            %h4 Leverage a robust set of rich realtime push components to create even more ambitious campaigns at a fraction of the time and cost.
            %p Notify users instantly when they win a badge, a goodie, when a friend offers them something, and just about anything you can think of.

          .span3.offset1
            %h2 Insightful
            %h4 Define custom funnels of engagement, and get detailed metrics on your users's flow, what they're sharing, what's engaging them.
            %p With integrated metrics, get a precise breakdown of how your campaign’s doing, who’s playing, who’s sharing and much, much more.

          .span3.offset1
            %h2 Cross-everything
            %h4
              Cross campaign, and cross platform.
              %br
              Consolidate user data between all your sites and apps.
            %p Most importantly, We do all of this and more with an easy to use single sign-on, that authenticates your fans on all your platforms, enriches their profile across campaigns, allowing you to offer them precisely what makes them tick.
            %p The more you use Oahu, the more value your audience gains from it. Reward them for their engagement at a global scale, and make them ask for more !


      %section#showcase
        .page-header
          %h1
            Showcase
            %small a sample of campaigns and sites using Oahu
        #carousel.carousel.row
          .carousel-inner
            .item
              .span8
                %img{:src=>'assets/img/screens/screen_01.jpg'}
              .span4
                %h2 American Pie 4

            .item
              .span8
                %img{:src=>'assets/img/screens/screen_02.jpg'}
              .span4
                %h2 Sur la piste du Marsupilami

            .item
              .span8
                %img{:src=>'assets/img/screens/screen_03.jpg'}
              .span4
                %h2 Battleship

            .item
              .span8
                %img{:src=>'assets/img/screens/screen_05.jpg'}
              .span4
                %h2 Pathé Films Portal

            .item
              .span8
                %img{:src=>'assets/img/screens/screen_06.jpg'}
              .span4
                %h2 Universal Pictures Film France Portail

            .item
              .span8
                %img{:src=>'assets/img/screens/screen_07.jpg'}
              .span4
                %h2 Le Prénom

            .item
              .span8
                %img{:src=>'assets/img/screens/screen_08.jpg'}
              .span4
                %h2 Twixt
          %a.carousel-control.left{:href=>'#carousel', "data-slide"=>'prev'}
          %a.carousel-control.right{:href=>'#carousel', "data-slide"=>'next'}

      / %section#share
      /   .page-header
      /     %h1 Share
      /   .row.oahu
      /     .span4
      /       %a.oahu_btn.btn.facebook{"data-oahu-action"=>"ui.share", "data-oahu-provider"=>"facebook"} Share on Facebook
      /       %a.oahu_btn.btn.twitter{ "data-oahu-action"=>"ui.share", "data-oahu-provider"=>"twitter"} Share on Twitter
      /     .span4
      /       %iframe{:src=>"//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.oahu.fr&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80", :scrolling=>"no", :frameborder=>'no', :style => "border:none; overflow:hidden; width:100%; height:200px;", :allowTransparency=>'true' }
      /     .span4
      /       %a.twitter-follow-button{:href=>"https://twitter.com/oahuapp", "data-show-count"=>"false", "data-size"=>"large"} Follow @oahuapp
      /       %a.twitter-mention-button{:href=>"https://twitter.com/intent/tweet?screen_name=oahuapp&text=How%20are%20you%20doing%2C%20", 'data-size'=>'large'} Tweet to @oahuapp

      %section#about
        .row
          #clients.span3.clearfix
            .page-header
              %h1 Clients
            %p.universal Universal
            %p.pathe Pathé
            %p.orange Orange

          #contact.span3.offset1
            .page-header
              %h1 Contact
            %h2
              Oahu is currently
              %br
              a private service.
            %p
              We plan on opening access to more clients in the near future. In the meantime, you can get more information by contacting us.
            .contact
              %a.btn.btn-large{:href=>'mailto:contact@oahu.fr'} contact@oahu.fr
            %p
              %a.btn.btn-large.btn-primary{:href=>'https://twitter.com/oahuapp'} Follow @oahuapp
          #jobs.span3.offset1
            .page-header
              %h1 Jobs
            %h2 We're  currently looking for : 
            %p
              %ul.unstyled
                %li — A front-end developer who knows CSS3, responsive design and Coffeescript perfectly.
                %li — A product manager with a strong focus on detail and user experience
            .jobs
              %a.btn.btn-large{:href=>'mailto:jobs@oahu.fr'} jobs@oahu.fr
            %iframe{:src=>"//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.oahu.fr&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80", :scrolling=>"no", :frameborder=>'no', :style => "border:none; overflow:hidden; width:100%; height:150px;", :allowTransparency=>'true' }


      :javascript
        document.createElement('section');
        document.createElement('header');
      :javascript
        OahuShareHash = {"image":"https://oahu.fr","game":"Oahu Website","project":"Connect with your audience, anywhere","client":"Oahu","name":"Oahu","url":"https://oahu.fr/","description":"Oahu creates long term, meaningful relationships between you and your community"};

      %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
      %script{:src=>"/assets/vendor/bootstrap/bootstrap.js"}
      %script{:src=>"//#{oahu_host}/assets/oahu.js"}
      %script{:src=>"//#{oahu_host}/assets/oahu-apps.js"}
      %script{:src=>"/assets/js/app.js"}
