!!!  
%html.no-js
  %head
    %meta{:charset=>"utf-8"}
    %meta{"http-equiv"=> "X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %title Oahu, connect with your audience, anywhere.
    %meta{:name=>"author", :content=>"Oahu"}
    %meta{:viewport=>"width=device-width, initial-scale=1.0"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %link{:rel=>"apple-touch-icon", :href=>"/apple-touch-icon.png"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{:rel => "stylesheet", :href=> "/assets/fonts/stylesheet.css" }
    %link{:rel => "stylesheet", :href=> "/assets/vendor/bootstrap.min.css" }
    %link{:rel => "stylesheet", :href=> "/assets/vendor/bootstrap-responsive.min.css" }
    %link{:rel => "stylesheet", :href=> "/assets/css/style.css" }
    %script{:src=>"http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href=>"/"} oahu
          %a.btn.btn-navbar{'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse
            %ul.nav.pull-right
              %li
                %a{:href=>'#product'} Product
              %li
                %a{:href=>'#clients'} Clients
              %li
                %a{:href=>'#contact'} Contact
              %li
                %a{:href=>'#jobs'} Jobs
              %li
                %a.contact{:href=>'mailto:contact@oahu.fr'} contact@oahu.fr


    #page.container
      .hero-unit
        %h1
          Connect with your audience,
          %em anywhere
        %h2
          Oahu creates long term, meaningful relationships between you and your community
          
      %section#product
        .page-header
          %h1 Product
        .row
          .span3
            %h2
              Oahu is an integrated
              %br
              marketing platform.
            %p that enables you to build richer, more engaging campaigns. Be assured that your campaign is optimized for engagement.

          .span3.offset1
            %h2 Simple to use
            %p 
              Publish our pre-built apps to instantly offer your fans Quizzes, Instant Wins, branded pages and more. You can build entire campaigns without a single line of code

          .span3.offset1
            %h2 Full service
            %p We handle the media, games mechanics, and user generated contents that make your campaigns richer and more compelling.

        .row
          .span3
            %h2 Rich realtime api
            %p Use a robust set of rich realtime push components to create even more ambitious campaigns at a fraction of the time and cost.

          .span3.offset1
            %h2 Complete Metrics
            %p With integrated metrics, Oahu enables you to get a precise overview of how your campaign’s doing, who’s playing, who’s sharing and much, much more.

          .span3.offset1
            %h2 Cross campaign marketing
            %p Most importantly, We do all of this and more with an easy to use single sign-on, that enables your fans to enrich their profile campaign after campaign, allowing you to offer them precisely what makes them tick 


      %section
        .row
          #clients.span3
            .page-header
              %h1 Clients
            %p.universal Universal
            %p.pathe Pathé
            %p.orange Orange

          #contact.span3.offset1
            .page-header
              %h1 Contact
            %h2
              Oahu is currently
              %br
              a subscription service.
            %p
              We plan on opening access in the near future. In the meantime, you can get more information by contacting us.
            .contact
              %a.btn.btn-large{:href=>'mailto:contact@oahu.fr'} contact@oahu.fr
          #jobs.span3.offset1
            .page-header
              %h1 Jobs
            %h2 We're  currently looking for : 
            %p
              %ul
                %li A Front-end developer who knows CSS3 and browsers perfectly
                %li A Product Manager with a keen eye for detail and insatiable need for perfection
            .jobs
              %a.btn.btn-large{:href=>'mailto:jobs@oahu.fr'} jobs@oahu.fr

      :javascript
        document.createElement('section');
        document.createElement('header');
      %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
      %script{:src=>'/assets/vendor/bootstrap.js'}
