@font-face {
    font-family: 'Archer-Bold';
    src: url('archer-bold-pro.eot');
    src: url('archer-bold-pro.eot?#iefix') format('embedded-opentype'),
         url('archer-bold-pro.woff') format('woff'),
         url('archer-bold-pro.ttf') format('truetype'),
         url('archer-bold-pro.svg#archer-bold-pro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd85Heavy';
    src: url('avenirltstd-heavy-webfont.eot');
    src: url('avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenirltstd-heavy-webfont.woff') format('woff'),
         url('avenirltstd-heavy-webfont.ttf') format('truetype'),
         url('avenirltstd-heavy-webfont.svg#AvenirLTStd85Heavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AvenirLTStd95Black';
    src: url('avenirltstd-black-webfont.eot');
    src: url('avenirltstd-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenirltstd-black-webfont.woff') format('woff'),
         url('avenirltstd-black-webfont.ttf') format('truetype'),
         url('avenirltstd-black-webfont.svg#AvenirLTStd95Black') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AvenirLTStd65Medium';
    src: url('avenirltstd-medium-webfont.eot');
    src: url('avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenirltstd-medium-webfont.woff') format('woff'),
         url('avenirltstd-medium-webfont.ttf') format('truetype'),
         url('avenirltstd-medium-webfont.svg#AvenirLTStd65Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AvenirLTStd55Roman';
    src: url('avenirltstd-roman-webfont.eot');
    src: url('avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenirltstd-roman-webfont.woff') format('woff'),
         url('avenirltstd-roman-webfont.ttf') format('truetype'),
         url('avenirltstd-roman-webfont.svg#AvenirLTStd55Roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AvenirLTStd35Light';
    src: url('avenirltstd-light-webfont.eot');
    src: url('avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenirltstd-light-webfont.woff') format('woff'),
         url('avenirltstd-light-webfont.ttf') format('truetype'),
         url('avenirltstd-light-webfont.svg#AvenirLTStd35Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

